.channel {
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
  grid-template-rows: calc(80vh - 80px) 20vh;
}

.users {
  border: 1px solid green; 
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.video {
  border: 1px solid purple;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.queue {
  border: 1px solid blue;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.chat {
  border: 1px solid red;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.chatLog {
  overflow: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding: 0 16px;
}

.chatLine {
}

.newChatForm {
  position: absolute;
  bottom: 0;
  right: 18px;
}
