/* .channel {
  height: calc(100vh - 80px);
  display: flex;
}

.video-queue-chat {
  display: flex;
  flex-flow: column;
}

.video-queue {
  display: flex;
}

.users {
  width: 20vw;
  border: 1px solid green;
}

.chat {
  height: 20vh;
  width: 80vw;
  border: 1px solid blue;
}

.queue {
  height: calc(80vh - 80px);
  width: 20vw;
  border: 1px solid purple;
}

.video {
  width: 60vw;
  height: calc(80vh - 80px);
  border: 1px solid red;
} */

.channel {
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
  grid-template-rows: calc(80vh - 80px) 20vh;
}

.users {
  border: 1px solid green; 
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.video {
  border: 1px solid purple;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.queue {
  border: 1px solid blue;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.chat {
  border: 1px solid red;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}