.sign-up-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

input {
  margin-bottom: 16px;
  width: 300px;
}

label {
  margin-bottom: 8px;
  align-self: flex-start;
}

.button {
  width: 150px;
  padding: 12px 0;
  border-radius: 25px;
  border: none;
  background-color: yellow;
}